.info-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 1rem;
    background-color: white;
    height: inherit;
    height: 85vh;
    width: 40vw;
    border-radius: 8px;
    text-align: center;
  }
  &__button {
    width: 30%;
    margin: 0 auto;
  }
  &__button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  &__review-list {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    text-align: start;
  }
}
