.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 20%;
  max-height: 40%;
  min-height: 40%;
  margin: 1rem;
  padding: 1.6rem;
  border-radius: 8px;
  margin-top: 3rem;

  &__image-container {
    display: flex;
    justify-content: center;
    height: 320px;
    margin: 0 auto;
  }
  &__image {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
  }
  &__title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}
.flipCard {
  transform: rotateY(180deg);
}
.movie-card:hover {
  background-color: whitesmoke;
}
