@use "../assets/styles/_partials/variables" as *;

.movie-list {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.movie-button {
  margin: 2rem auto;
  background-color: white;
  color: $primary-color-one;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.movie-button:hover {
  box-shadow: green;
}
