@use "../../assets/styles/_partials/variables" as *;
@use "../../assets/styles/_partials/resets" as *;

.header {
  display: flex;
  padding: 1.6rem;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  transition: 1s;

  &__logo {
    display: flex;
  }
  &__image {
    height: 100%;
  }
  &__logo--info {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin: 0 0 0 5rem;
    color: white;
    transition: 0.5s;
  }
  &__cta {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
  &__text {
    font-size: 2.4rem;
    color: white;
  }
  &__text:hover {
    text-decoration: underline solid 1px black;
  }
}
.header:hover {
  background-color: white;
}
.header:hover .header__title {
  color: black;
}
.header:hover .header__text {
  color: black;
}
